<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills</title>
</head>
<body>
  <h1>Edit Skill #<%= skill.id  %></h1>
  <form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
    <input type="text" name="title" value="<%= skill.title %>">
    <input type="number" name="efficiency" value=<%= skill.efficiency%>>
    <input hidden type="text" name="id" value="<%= skill.id %>">
    <button>Save Skill</button>
  </form>
  <a href="/skills">Back to Index</a>
</body>
</html>